body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

h1 {
  color: #007BFF; /* Un azulito */
}

img {
    border: 5px solid #DDD;
    border-radius: 10px;
    max-width: 90%; /* Para que la imagen sea responsive */
}